<div class="mx-auto w-full">
  <div class="mx-auto">
    <div class="flex justify-end text-accent-400 hover:underline">
      <%= link_to edit_manage_restaurant_setting_path(@restaurant.restaurant_setting) do %>Edit Settings <%= icon("gear-fill", classes: "ml-1 inline-block") %>
      <% end %></div>
    <%= render @restaurant %>
    <hr/>
    <div class="flex justify-between">
      <div class="py-4 font-bold text-xl justify-start">Addresses</div>
      <div class="flex justify-end text-accent-400 hover:underline">
        <%= link_to new_manage_address_path(addressable_type: "Restaurant", addressable_id: @restaurant.id) do %>New Address <%= icon("plus-square-fill", classes: "ml-1 inline-block") %>
        <% end %></div>
    </div>
    <% @restaurant.addresses.each do |address| %>
      <div class="address p-4"><span class="text-accent-400 text-lg"><%= address.address_type.try(:capitalize) %></span>
        <p class="pl-4">
          <%= address.address1 %>
          <% if !address.address2.blank? %>
            <br/>
            <%= address.address2 %>
          <% end %>
          <% if !address.suite.blank? %>
            <br/>
            Suite: <%= address.suite %>
          <% end %>
          <br/>
          <%= address.city %>, <%= address.state.code %> <%= address.zipcode %>
        </p>
        <div class="grid grid-cols-2 gap-2">
          <div><%= link_to 'Edit', edit_manage_address_path(address), class: 'hover:text-accent-600 hover:underline' %></div>
          <div><%= button_to 'Delete', manage_address_path(address), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: 'hover:text-accent-600 hover:underline' %></div>
        </div>
      </div>
    <% end %>
    <hr/>
    <%= link_to 'Edit this restaurant', edit_manage_restaurant_path(@restaurant), class: "rounded-md py-3 px-5 bg-gray-100 inline-block font-medium capitalize hover:text-white hover:bg-accent-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-accent-400" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this restaurant', manage_restaurant_path(@restaurant), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "rounded-md py-3 px-5 bg-gray-100 inline-block font-medium capitalize hover:text-white hover:bg-accent-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-accent-400" %>
    </div>
    <%= link_to 'Back to restaurants', manage_restaurants_path, class: "rounded-md py-3 px-5 bg-gray-100 inline-block font-medium capitalize hover:text-white hover:bg-accent-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-accent-400" %>
  </div>
</div>
